<% include partial/header %>
		<div id="error-container" class="row">
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h1 class="panel-title">Wallins Chat</h1>
				</div>
				<div class="panel-body">
					<h1>Fel</h1>
					<h2>Ett fel inträffade:</h2>
					<p>{{ errorMsg }}</p>
					<p>Gå tillbaka till <a href="/">startsidan</a></p>
				</div>
			</div>
		</div>
	<% include partial/footer %>
