
			<div id="projects-wrap" class="col-sm-12">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h1 class="panel-title">Programmerings- och webbprojekt</h1>
					</div>
					<div class="panel-body">

						<h3>Projekt i urval</h3>

						<p>Nedan listar jag några av de projekt jag utvecklat själv eller tillsammans med ett utvecklingsteam. Klicka på respektive projekt för att få mer information.</p>

						<p>Alla projekt (förutom "Wallins chat"), och därmed koden, ägs av respektive företag. Under varje projekt finns en länk till själva webbplatsen, där det är möjligt också en länk till koden. Framöver är min ambition att i mån av tid lägga upp fler egenutvecklade webbappar och annat här på webbplatsen.</p>

						<p>Denna webbplats är skriven i bland annat Node.js/Express.js och Angular.js. Koden finns <a href="//github.com/wallindev/wallindev.se" target="_blank">på Github</a>.</p>

						<div class="row">

							<div class="col-sm-6">

								<div id="projects" class="panel-group" role="tablist" aria-multiselectable="true">

									<div class="panel panel-default">
										<a id="headingOne" class="btn btn-inverse btn-block" data-toggle="collapse" data-parent="#projects" href="#collapseOne" ng-click="showPreview(0, $event)" aria-expanded="true" aria-controls="collapseOne">
											Wallins Chat <!-- <small><i class="fa fa-star-o"></i></small> -->
										</a>
										<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Realtids-chat skriven i Node.js på servern och Angular.js på klientsidan.
												Vanligtvis när man använder en databas för att spara meddelanden, blir det många databasanrop.
												För att spara på resurserna och ansluta till databasen så lite som möjligt,
												har jag här istället byggt en "save loop" som sparar undan meddelanden i bulk
												en gång i minuten. Mellan dessa sparningar lagras meddelandena temporärt i minnet.
												<br>
												<br>
												<a href="/chat" target="_blank" class="btn btn-primary btn-large">Till Appen</a>
												<a href="//github.com/wallindev/nodejs-chat" target="_blank" class="btn btn-success btn-large">Till Koden</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<a id="headingTwo" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseTwo" ng-click="showPreview(1, $event)" aria-expanded="false" aria-controls="collapseTwo">
											LogCare AB
										</a>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Webbplats baserad på Bootstrap med jQuery för interaktivitet och funktionaliteten i till exempel kontakt-formuläret. Backend i PHP.
												<br>
												<br>
												<a href="//logcare.se" target="_blank" class="btn btn-primary btn-large">Till Webbplatsen</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<a id="headingThree" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseThree" ng-click="showPreview(2, $event)" aria-expanded="false" aria-controls="collapseThree">
											Porsche Sverige AB
										</a>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Ansvarig för den tekniska implementeringen av Porsche Sveriges webbplats. Uppdraget innefattade att 
												bygga en gemensam plattform för generalagenten och återförsäljarna. Det ingick en publik webb, ett 
												intranät med ett avancerat säljstöd, ett extranät för kunder samt webbkampanjer. Byggde utöver säljstödet 
												en ”bil-konfigurator” skriven i JavaScript, .NET/C# och SQL Server. Den bestod av hundratals tillbehör, 
												med komplexa regler för hur de kunde kombineras. Dessa omvandlade jag från dokumentation i pappersformat till JavaScript.
												<br>
												<br>
												<a href="//porsche.se" target="_blank" class="btn btn-primary btn-large">Till Webbplatsen</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<a id="headingFour" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseFour" ng-click="showPreview(3, $event)" aria-expanded="false" aria-controls="collapseFour">
											Börsanalysföretag
										</a>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<div class="panel-body">
												Desktop-applikation för analys av aktuella och historiska börskurser skriven i C++.
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<a id="headingFive" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseFive" ng-click="showPreview(4, $event)" aria-expanded="false" aria-controls="collapseFive">
											Börsanalysföretag
										</a>
										<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
											<div class="panel-body">
												Desktop-applikation för analys av aktuella och historiska börskurser skriven i C#. Uppföljare till C++-versionen.
											</div>
										</div>
									</div>

								</div>

							</div>

							<div class="col-sm-6 text-center">

								<div id="projPreview" class="img-responsive">

									<span id="projPreviewSpan" class="img-thumbnail"><h1>[Project preview]</h1></span>

									<div id="proj0">
										<a id="proj0_url" href="/chat" target="_blank" title="Wallins Chat">
											<img id="proj0_img" src="/img/proj0_chat.png" class="img-thumbnail img-responsive">
										</a>
									</div>

									<div id="proj1">
										<a id="proj1_url" href="//logcare.se" target="_blank" title="LogCare.se">
											<img id="proj1_img" src="/img/proj1_logcare.png" class="img-thumbnail img-responsive">
										</a>
									</div>

									<div id="proj2">
										<a id="proj2_url" href="//porsche.se" target="_blank" title="Porsche.se">
											<img id="proj2_img" src="/img/proj2_porsche.png" class="img-thumbnail img-responsive">
										</a>
									</div>

									<div id="proj3">
										<a id="proj3_url" href="javascript: return false;" target="_blank" title="Börsanalysföretag, C++-app">
											<img id="proj3_img" src="/img/proj3_kursklient_cplusplus.png" class="img-thumbnail img-responsive">
										</a>
									</div>

									<div id="proj4">
										<a id="proj4_url" href="javascript: return false;" target="_blank" title="Börsanalysföretag, C#-app">
											<img id="proj4_img" src="/img/proj4_kursklient_csharp.png" class="img-thumbnail img-responsive">
										</a>
									</div>

								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
		