
			<div id="projects-wrap" class="col-sm-12">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h1 class="panel-title">Programmerings- och webbprojekt</h1>
					</div>
					<div class="panel-body">

						<h3>Projekt i urval</h3>

						<p>Nedan listar jag några av de projekt jag antingen själv utvecklat eller varit ansvarig för. Klicka på respektive projekt för att få mer information.</p>

						<p>Alla projekt (och därmed koden) förutom de angiven med stjärna ägs av respektive företag. För att kunna visa mer hur jag programmerar har jag börjat bygga lite olika webb-applikationer som jag kommer lägga upp här på webbplatsen.</p>

						<p>Denna webbplats är skriven i bland annat Node.js och Angular.js/Express.js och koden hittar du <a href="//github.com/wallindev/wallindev.se" target="_blank">på Github</a>.</p>

						<div class="row">

							<div class="col-sm-6">

								<div id="projects" class="panel-group" role="tablist" aria-multiselectable="true">

									<div class="panel panel-default">
										<!--<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">-->
												<a id="headingOne" class="btn btn-inverse btn-block" data-toggle="collapse" data-parent="#projects" href="#collapseOne" ng-click="showPreview(0, $event)" aria-expanded="true" aria-controls="collapseOne">
													Wallins Chat <small><i class="fa fa-star-o"></i></small>
												</a>
											<!--</h4>
										</div>-->
										<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Realtids-chat skriven i Node.js på servern och Angular.js på klientsidan.
												Vanligtvis när man använder en databas för att spara meddelanden, blir det många databasanrop.
												För att spara på resurserna och ansluta till databasen så lite som möjligt,
												har jag här istället byggt en "save loop" som sparar undan meddelanden i bulk
												en gång i minuten. Mellan dessa sparningar lagras meddelandena temporärt i minnet.
												<br>
												<br>
												<a href="/chat" target="_blank" class="btn btn-primary btn-large">Till Appen</a>
												<a href="//github.com/wallindev/nodejs-chat" target="_blank" class="btn btn-success btn-large">Till Koden</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<!--<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">-->
												<a id="headingTwo" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseTwo" ng-click="showPreview(1, $event)" aria-expanded="false" aria-controls="collapseTwo">
													LogCare AB
												</a>
											<!--</h4>
										</div>-->
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Webbplats logcare.se
												<br>
												<br>
												<a href="//logcare.se" target="_blank" class="btn btn-primary btn-large">Till Webbplatsen</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<!--<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">-->
												<a id="headingThree" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseThree" ng-click="showPreview(2, $event)" aria-expanded="false" aria-controls="collapseThree">
													Porsche Sverige AB
												</a>
											<!--</h4>
										</div>-->
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Ansvarig för den tekniska implementeringen av Porsche Sveriges webbplats. Uppdraget innefattade att 
												bygga en gemensam plattform för generalagenten och återförsäljarna. Det ingick en publik webb, ett 
												intranät med ett avancerat säljstöd, ett extranät för kunder samt webbkampanjer. Byggde utöver säljstödet 
												en ”bil-konfigurator” skriven i JavaScript, .NET/C# och SQL Server. Den bestod av hundratals tillbehör, 
												med komplexa regler för hur de kunde kombineras. Dessa omvandlade jag från dokumentation i pappersformat till JavaScript.
												<br>
												<br>
												<a href="//porsche.se" target="_blank" class="btn btn-primary btn-large">Till Webbplatsen</a>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<!--<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">-->
												<a id="headingFour" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseFour" ng-click="showPreview(3, $event)" aria-expanded="false" aria-controls="collapseFour">
													Börsanalysföretag
												</a>
											<!--</h4>
										</div>-->
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<div class="panel-body">
												C++-app...
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<!--<div class="panel-heading" role="tab" id="headingFive">
											<h4 class="panel-title">-->
												<a id="headingFive" class="btn btn-inverse btn-block collapsed" data-toggle="collapse" data-parent="#projects" href="#collapseFive" ng-click="showPreview(4, $event)" aria-expanded="false" aria-controls="collapseFive">
													Börsanalysföretag
												</a>
											<!--</h4>
										</div>-->
										<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
											<div class="panel-body">
												C#-app...
											</div>
										</div>
									</div>

								</div>

							</div>

							<div class="col-sm-6 text-center">

								<div id="projPreview" class="img-responsive">

									<span id="projPreviewSpan" class="img-thumbnail"><h1>[Project preview]</h1></span>

									<div id="proj" class="img-thumbnail">
										<a id="proj_url" href="/chat" target="_blank" title="Wallins Chat">
											<img id="proj_img" src="/img/proj0_chat.png" class="img-responsive">
										</a>
									</div>

									<!-- Preload and hide images -->
									<img id="proj0_img" src="/img/proj0_chat.png">
									<img id="proj1_img" src="/img/proj1_logcare.png">
									<img id="proj2_img" src="/img/proj2_porsche.png">
									<img id="proj3_img" src="/img/proj3_kursklient_cplusplus.png">
									<img id="proj4_img" src="/img/proj4_kursklient_csharp.png">

								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
		